*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.big-title{
    width: 100%;
    text-transform: uppercase;
    color: rgb(19, 95, 63);
    background-color: white;
    padding: 0px 50px;
    padding-top: 6px;
}

.big-title img{
    height: 50px;
}

.nav{
    width: 100%;
    background-color: rgb(34, 19, 119);
    padding: 0px 50px;
    list-style: none;
    display: flex;
}

.nav li{
    text-transform: uppercase;
    padding: 15px 20px;
}

.nav li:hover{
    background-color: rgb(61, 46, 146);
}
.active{
    background-color: rgb(61, 46, 146);
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/* end header */

/* main */
.main{
    margin-top: 125px;
    width: 100%;
    padding: 0 30px;
}
.main1{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.main1-left{
    width: 65%;
}
.news-hot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.top-new{
    width:100%;
}
.news{
    width: 100%;
}
.privew-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(156, 213, 221);
}
.privew-img img{
    width: 50%;
}
.privew-img p{
    padding: 10px;
    font-size: 18px;
}
.top-new h2 a{
    color: black;
    font-size: 26px;
}
.top-new h2{
    padding-bottom: 6px;
}
.top-new span{
    color: rgb(43, 38, 38);
    font-size: 15px;
}
.nav-news{
    width: 100%;
    list-style: none;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.nav-news li{
    width: 30%;
    /* border bottom style dot */
    padding: 10px 0;
}
.nav-news li img{
    width: 100%;
}
.nav-news li a{
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.new-cold{
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.new-cold li{
    width: 100%;
    display: flex;
    border: 1px solid rgba(102, 93, 93, 0.507);
    background-color: rgba(202, 186, 186, 0.336);
    margin-bottom: 20px;
}

.new-cold li img{
    width: 30%;
    height: 150px;
}
.new-cold li .title-new{
    margin-left: 20px;
    padding: 20px 0;
}
.new-cold li .title-new span{
    color: rgb(80, 73, 73);
    font-size: 15px;
}
.new-cold li .title-new p{
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
}
.main1-right{
    width: 33%;
}
.tham-do{
    width: 100%;
}
.tham-do {
    background-color: rgba(161, 161, 161, 0.24);
    padding: 10px 30px;
}
.tham-do form{
    padding: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}
.tham-do form label{
    margin-right: 10px;
}
.tham-do form p{
    padding-bottom: 10px;
}
.btn-submit{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
/* search width button search */
.search{
    width: 100%;
    position: relative;
}
.search input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}
.search button{
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(75, 66, 66);
    color: white;
    position: absolute;
    right: 5px;
    top: 6px;
}
.btn{
    padding: 10px;
    background-color: rgb(101, 102, 102);
    color: white;
    width: 100px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.btn2{
    background-color: red;
}
/* lịch sự kiện */
.title-slide{
    padding: 10px 30px;
    font-weight: 500;
    /* upcase */
    text-transform: uppercase;
}
.lien-ket{
    width: 100%;
    background-color: rgba(161, 161, 161, 0.24);
    padding: 10px;
    border-top: 2px solid rgb(19, 95, 63);
    margin-top: 50px;
}
.lien-ket ul{
    list-style:none;
    padding-left: 40px;
}
.lien-ket ul li{
    padding: 10px 0;
    font-size: 17px;
}