*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all ease-in-out;
}

a{
    text-decoration: none;
    color: black;
}

/* header start */

header ul{
    list-style: none;
    display: flex;
}

header{
    background: rgb(24, 177, 144);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

header ul a{
    color: white;
    font-size: 14px;
    padding: 15px 15px;
}

header ul a:hover{
    background: rgb(10, 129, 103);
}

.active{
    background: rgb(10, 129, 103);
}

.icon{
    font-size: 8px;
}

.big-icon{
    font-size: 15px;
    transform: scale(1.5);
}

/* header end */

/* start container */

.container{
    width: 100%;
}

.header{
    background-color: rgba(217, 228, 238, 0.384);
    width: 100%;
    display: flex;
    margin-top: 47px;
    height: 50px;
    justify-content: space-between;
}

.header .header-left{
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-left i{
    transform: scale(1.5);
    padding: 0px 10px;
}

.header-left span{
    font-size: 16px;
}

/* end header */

/* start content */
.content-form{
    width: 100%;
    padding: 10px;
}

.content{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(217, 228, 238);
    padding-bottom: 25px;
    margin-bottom: 5px;
}

.content .content-left{
    width: 27%;
}

.content .content-left p{
    padding: 15px 0;
    color: rgb(56, 58, 57);
}


.content .content-left .content-left-item{
    padding: 15px 0;
    border-bottom: 1px solid rgb(217, 228, 238);
}

.content-right{
    width: 73%;
    padding: 0 20px;
}

#select-tru-so{
    border: none;
    font-weight: bold;
    font-size: 16px;
    -webkit-appearance: none;
    display: block;
    width: 50%;
}

#select-tru-so option{
    font-weight: normal;
    padding: 15px 0;
}

#time{
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 15px;
    color: rgb(56, 58, 57);
}

.form-group{
    width: 100%;
}

.lable-description{
    display: block;
    font-size: 15px;
    padding: 5px 0;
    font-weight: bold;
}

#description{
    width: 100%;
    max-width: 400px;
    border-color: #ccc;
    /* resize only height */
    resize: vertical;
    outline: none;
    padding: 5px;
}

#select-file{
    width: 100%;
    max-width: 400px;
    border: none;
    /* hidden input file */
    opacity: 0;
}

.btn{
    padding: 5px 13px;
    color: white;
    background-color: green;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-gray{
    background-color: rgb(92, 91, 91);
}

.action{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}