.controller{
    background-color: #f1f1f1;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.today-time{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-count{
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

#input-time{
    width: 50%;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
}

.center button{
    padding: 12px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}